{% extends 'studentbase.html' %}

{% block content %}
    <h1>List of Colleges</h1>
    <table border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Location</th>
                <th>Established</th>
            </tr>
        </thead>
        <tbody>
            {% for college in colleges %}
                <tr>
                    <td>{{ forloop.counter }}</td> <!-- Shows the row number -->
                    <td>{{ college.user.username }}</td> <!-- Displays the username of the associated user -->
                    <td>{{ college.location }}</td> <!-- College location (once added to the model) -->
                    <td>{{ college.established }}</td> <!-- College established year (once added to the model) -->
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No colleges available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block title %}Colleges{% endblock %}
