{% extends 'studentbase.html' %}

{% block content %}
  <h3>Your Enquiries</h3>
  <ul>
    {% for enquiry in enquiries %}
      <li>
        Enquiry to {{ enquiry.college.user.username }}: {{ enquiry.message }} <br>
        Status: {{ enquiry.status }} <br>
        Seen by College: {{ enquiry.seen_by_college }} <br>
        Response: {{ enquiry.response|default:"No response yet" }}
      </li>
    {% empty %}
      <li>You have not made any enquiries yet.</li>
    {% endfor %}
  </ul>
  
  <div class="head-title">
    <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" href="#">Enquires</a>
            </li>
        </ul>
    </div>
  
</div>

<ul class="box-info">
    <li>
        <i class='bx bxs-calendar-check'></i>
        <span class="text">
            
            <p>Enquire A College</p>
        </span>
    </li>
    <li>
        <i class='bx bxs-group'></i>
        <span class="text">
            <h3>60</h3>
            <p>Active enquires</p>
        </span>
    </li>
    <li>
        <i class='bx bxs-dollar-circle'></i>
        <span class="text">
            <h3>70%</h3>
            <p>Closed Enquires</p>
        </span>
    </li>
</ul>
{% endblock %}
